:root {
    /* Color palette: https://coolors.co/540d6e-ee4266-ffd23f-f3fcf0-1f271b*/
    --blue-violet-color-wheel: #540d6eff;
    --paradise-pink: rgb(238, 66, 102);
    --paradise-pink-a1: rgba(238, 66, 102, 0.1);
    --paradise-pink-d1: rgb(187, 51, 80);
    --paradise-pink-l1: rgb(255, 69, 109);
    --sunglow: #ffd23fff;
    --honeydew: #f3fcf0ff;
    --pine-tree: #1f271bff;

    --light-0: rgb(255, 255, 255);
    --light-1: rgb(233, 233, 233);
    --light-2: rgb(213, 213, 213);
    --light-3: rgb(193, 193, 193);

    --dark-0: rgb(0, 0, 0);
    --dark-1: rgb(33, 33, 33);
    --dark-2: rgb(66, 66, 66);
    --dark-3: rgb(100, 100, 100);
    --dark-4: rgb(166, 166, 166);


    /* https://utopia.fyi/type/calculator/?c=480,14,1.125,1400,16,1.2,4,4,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l */
    --step--4: clamp(0.48rem, calc(0.58rem + -0.11vw), 0.55rem);
    --step--3: clamp(0.58rem, calc(0.63rem + -0.06vw), 0.61rem);
    --step--2: clamp(0.69rem, calc(0.69rem + 0.01vw), 0.69rem);
    --step--1: clamp(0.83rem, calc(0.75rem + 0.10vw), 0.78rem);
    --step-0: clamp(0.88rem, calc(0.81rem + 0.22vw), 1.00rem);
    --step-1: clamp(0.98rem, calc(0.87rem + 0.38vw), 1.20rem);
    --step-2: clamp(1.11rem, calc(0.93rem + 0.58vw), 1.44rem);
    --step-3: clamp(1.25rem, calc(0.99rem + 0.84vw), 1.73rem);
    --step-4: clamp(1.40rem, calc(1.05rem + 1.17vw), 2.07rem);


    --poster-img-scale: 0.85;
    --poster-img-width: 225px;
    --poster-img-height: 320px;
}

body {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    min-height: 50vh;
    /* min-width: fit-content; */
    max-width: 100vw;
    margin: 0;
}






h1 {
    font-size: var(--step-4);
    font-weight: 600;
}

h2 {
    font-size: var(--step-3);
    font-weight: 500;
}

h3 {
    font-size: var(--step-2);
    font-weight: 400;
}

h4 {
    font-size: var(--step-1);
    font-weight: 300;
}

h5 {
    font-size: var(--step-0);
    font-weight: 200;
}

p, div, span {
    font-size: var(--step-0);
    font-weight: 100;
}





nav {
    background-color: var(--paradise-pink);
}

nav > .wrapper {
    display: flex;
    margin: auto;
    justify-content: space-between;
    width: min(1400px, 100%);
}

nav > .wrapper .page-nav {
    display: flex;
    justify-content: flex-start;
}

nav a,
nav button {
    color: var(--light-1);
    text-decoration: none;
    padding: 1rem;
    border-radius: 0.5rem;
    transition: all 100ms;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

nav a:hover,
nav button:hover {
    color: var(--light-0);
    background-color: var(--paradise-pink-l1);
    transform: scale(110%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

nav a:active,
nav button:active {
    transform: scale(108%) translateY(0.1rem);
}

.nav-page-icon-wrapper {
    padding: 0.5rem;
}

.nav-page-icon-wrapper img {
    height: 2rem;
}

nav > .wrapper .user-nav {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

#nav-collap-icon {
    display: none;
}

#nav-collap-icon i {
    transition: transform 200ms;
}

.nav-collap-icon-open {
    transform: rotate(-90deg) !important;
}

@media screen and (max-width: 620px) {
    #nav-collap-icon {
        display: block;
        width: min-content;
    }

    nav .page-nav a:not(:last-child) {
        display: none;
    }

    .nav-show-element {
        display: block !important;
    }

    nav > .wrapper .page-nav {
        display: flex;
        flex-flow: column-reverse nowrap;
    }

    .nav-page-icon-wrapper img {
        display: none;
    }

    .nav-page-icon-wrapper {
        padding: 1rem;
    }

    .nav-page-icon-wrapper::after {
        content: "Home";
    }
}

#nav-search-box-wrapper {
    position: relative;
    margin: 0.33rem;
    background-color: var(--light-0);
    border-radius: 0.5rem;
    border: 1px solid var(--light-2);
    padding: 0 10px;
}

#nav-search-box-wrapper .search-box {
    position: relative;
    padding: 3px 10px;
    height: 2rem;
    border: none;
    width: 16vw;
}

#nav-search-box-wrapper .search-icon {
    position: relative;
    color: var(--paradise-pink);
}

#min-nav-search-icon {
    display: none;
}

#nav-search-result {
    position: absolute;
    display: none;
    left: 0;
    width: 100%;
    background-color: var(--light-0);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
    z-index: 5;
}

#nav-search-result > div {
    margin: 0.5rem 0.25rem;
}

#nav-search-result h5 {
    margin: 0.1rem 0.25rem;
}

.search-result-item {
    display: flex;
    font-size: 0.85rem;
    gap: 1rem;
    align-items: center;
    justify-content: flex-start;
    margin: 0.5rem 0.1rem;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.search-result-item img {
    width: max(1.5rem, 7.5%);
    border-radius: 0.5rem;
}

.search-result-item > div {
    width: 100%;
    box-sizing: border-box;
}

.search-result-item div {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.search-result-item a {
    display: block;
    color: var(--paradise-pink);
    padding: 0;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.search-result-item a:hover {
    text-decoration: underline;
    transform: none;
    background-color: transparent;
    box-shadow: none;
    color: var(--paradise-pink-l1);
}

@media screen and (max-width: 800px) {
    #nav-search-box-wrapper {
        display: none;
    }

    #min-nav-search-icon {
        display: block;
    }
}

.search-box {
    min-width: 100px;
    max-width: 350px;
    width: 20vw;
    /* height: 2rem; */
    height: calc(var(--step-0) * 2);
    font-size: var(--step-0);
    padding: 5px 16px;
    border-radius: 0.5rem;
    outline: none;
    border: 1px solid var(--light-2);
}

footer {
    background-color: var(--paradise-pink);
    color: var(--light-1);
}

footer a {
    color: var(--light-1);
}

#sitemap a {
    margin: 0 1rem;
}

[class^="overtop-"] {
    position: absolute;
    z-index: 100;
}

[class^="overtop-"] hr {
    margin: 1rem;
    margin-inline-start: auto;
    margin-inline-end: auto;
    opacity: 0.33;
    border: 1px solid var(--dark-2);
}

[class^="overtop-"] * {
    z-index: 105;
}

.hide-overtop {
    display: none !important;
}

.overtop-fullpage {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 1.5rem;
    box-sizing: border-box;
}

.overtop-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    place-items: center;
    place-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
}

.overtop-popup .overtop-content-wrapper {
    width: min(1000px, 95vw);
    height: min(1000px, 95vh);
    padding: 1.5rem;
    border-radius: 1rem;
    box-sizing: border-box;
    overflow: auto;
}

@media screen and (max-width: 420px) {
    .overtop-popup .overtop-content-wrapper {
        width: 100vw;
        height: 100vh;
        border-radius: 0;
    }
}

.overtop-content-wrapper {
    position: relative;
    width: min(600px, 100%);
    margin: auto;
}

#overtop-search {
    display: none;
}

#overtop-search-box {
    width: 100%;
    max-width: none;
    box-sizing: border-box;
    height: 3rem;
}

.top-right {
    position: absolute;
    top: 0;
    right: 0;
}

.dark-bg {
    background-color: var(--dark-0);
}

.light-bg {
    background-color: var(--light-0);
}

.primary-color {
    color: var(--paradise-pink);
}

.dark-color {
    color: var(--dark-0);
}

.container {
    margin: auto;
    width: min(1400px, 100%);
}

.socials {
    display: flex;
    justify-content: center;
}

.clean-url {
    color: var(--paradise-pink);
    text-decoration: none;
}

.clean-url:hover {
    color: var(--paradise-pink);
    text-decoration: underline;
}

.active-url {
    text-decoration: underline;
    text-underline-position: under;
}

.x-btn {
    font-size: 1rem;
    color: var(--dark-1);
    cursor: pointer;
}

.large-btn {
    font-size: var(--step-0);
    border-radius: 0.5rem;
    padding: 1rem;
    outline: none;
    background-color: var(--paradise-pink);
    color: var(--light-1);
    border: none;
    cursor: pointer;
    text-decoration: none;
    transition: transform 100ms;
}

.large-btn.inverted {
    background-color: transparent;
    color: var(--paradise-pink);
    box-shadow: inset 0px 0px 0px 2px var(--paradise-pink); /* inward border trick */
}

.large-btn:hover {
    filter: brightness(120%);
}

.large-btn:active {
    transform: translateY(5px) scale(102%);
}




.rounded-corner-half {
    border-radius: 0.5rem;
}

.rounded-corner-full {
    border-radius: 1rem;
}

.center {
    margin: auto;
}

.banner {
    position: relative;
    width: 100%;
    box-sizing: border-box;
}


.w-100 {
    width: 100%;
}

.w-75 {
    width: 75%;
}

.w-50 {
    width: 50%;
}

.w-25 {
    width: 25%;
}

/* margin and padding templates */
.margin-none {
    margin: 0;
}

.margin-auto {
    margin: auto;
}

.margin-small {
    margin: 0.5rem;
}

.margin-medium,
.margin-normal {
    margin: 1rem;
}

.margin-large {
    margin: 1.5rem;
}

.margin-v-none {
    margin-top: 0;
    margin-bottom: 0;
}

.margin-v-auto {
    margin-top: auto;
    margin-bottom: auto;
}

.margin-v-small {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.margin-v-medium,
.margin-v-normal {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.margin-v-large {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.padding-none {
    padding: 0;
}

.padding-small {
    padding: 0.5rem;
}

.padding-medium,
.padding-normal {
    padding: 1rem;
}

.padding-large {
    padding: 1.5rem;
}

/* Text postion templates */
.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-alt {
    font-size: 0.66rem;
    color: var(--light-2);
}

.text-small {
    font-size: 0.5rem;
}

.text-normal {
    font-size: 1rem;
}

.text-large {
    font-size: 1.5rem;
}

.text-xlarge {
    font-size: 2rem;
}

.tag {
    /* background-color: var(--light-1);
    color: var(--dark-1); */
    padding: 0.1rem 0.33rem;
    font-size: var(--step--2);
    border-radius: 1rem;
    /* border: 1px solid var(--light-2); */
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    display: inline;
    margin: 0 0.1rem;
    flex-shrink: 1;
}

.unselectable {
    user-select: none;
}

.card {
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
}

.inline-block {
    display: inline-block;
}

.block {
    display: block;
}

.auto-gallery {
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
}

.auto-gallery > * {
    flex-shrink: 1;
}

.no-gap {
    gap: 0 !important;
}

.small-gap {
    gap: 0.5rem !important;
}

.normal-gap {
    gap: 1rem !important;
}

.large-gap {
    gap: 2rem !important;
}



.align-items-center {
    align-items: center;
}

.align-items-start {
    align-items: flex-start;
}

.justify-start {
    justify-content: flex-start;
}

.justify-end {
    justify-content: flex-end;
}

.justify-center {
    justify-content: center;
}

.justify-evenly {
    justify-content: space-evenly;
}

.justify-between {
    justify-content: space-between;
}


.indicator-dot {
    width: 0.5rem;
    height: 0.5rem;
    background-color: rgba(133, 133, 133, .75);
    margin: 0 1%;
    border-radius: 100%;
}

.indicator-dot-active {
    background-color: rgba(32, 32, 32, 0.75);
}


.info-pond {
    display: flex;
    flex-flow: row wrap;
    gap: clamp(1rem, 2rem, 3rem);
}

.info-item {
    flex-shrink: 1;
}

.url-item {
    margin: 0 0.5rem 0 0;
    padding: 0 0.5rem;
    border-radius: 1rem;
    /* border: 1px solid var(--light-1); */
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    line-height: 1.33rem;
    overflow-wrap: break-word;
}

/* .url-item:not(:last-child)::after {
    content: ", ";
} */

/* Animations */

.blur-load-animation {
    -webkit-animation: blur-load-animation 1s ease-in;
    animation: blur-load-animation 1s ease-in;
}

@-webkit-keyframes blur-load-animation {
    0% {
        -webkit-filter: blur(2px);
        filter: blur(2px);
        opacity: 0.9;
    }

    100% {
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }
}

@keyframes blur-load-animation {
    0% {
        -webkit-filter: blur(2px);
        filter: blur(2px);
        opacity: 0.9;
    }

    100% {
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }
}

.zoom-load-animation {
    -webkit-animation: zoom-load-animation 1s ease-in;
    animation: zoom-load-animation 1s ease-in;
    overflow-x: hidden;
}

@-webkit-keyframes zoom-load-animation {
    0% {
        -webkit-transform: scale(110%) translateY(-2%);
        transform: scale(110%) translateY(-2%);
        opacity: 0;
    }

    100% {
        -webkit-transform: scale(100%);
        transform: scale(100%);
        opacity: 1;
    }
}

@keyframes zoom-load-animation {
    0% {
        -webkit-transform: scale(110%) translateY(-2%);
        transform: scale(110%) translateY(-2%);
        opacity: 0;
    }

    100% {
        -webkit-transform: scale(100%);
        transform: scale(100%);
        opacity: 1;
    }
}

.loader {
    position: relative;
    display: block;
    border: 16px solid var(--light-1);
    border-top: 16px solid var(--paradise-pink);
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin: 50px auto;
}

.loader-small {
    position: relative;
    display: block;
    border: 6px solid var(--light-1);
    border-top: 6px solid var(--paradise-pink);
    border-radius: 50%;
    width: 32px;
    height: 32px;
    animation: spin 2s linear infinite;
    margin: 16px auto;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
