:root {
    /* Color palette: https://coolors.co/540d6e-ee4266-ffd23f-f3fcf0-1f271b*/
    --blue-violet-color-wheel: #540d6eff;
    --paradise-pink: #ee4266ff;
    --sunglow: #ffd23fff;
    --honeydew: #f3fcf0ff;
    --pine-tree: #1f271bff;

    --light-0: rgb(255, 255, 255);
    --light-1: rgb(233, 233, 233);
    --light-2: rgb(213, 213, 213);
    --light-3: rgb(193, 193, 193);

    --dark-0: rgb(0, 0, 0);
    --dark-1: rgb(33, 33, 33);
    --dark-2: rgb(66, 66, 66);
    --dark-3: rgb(100, 100, 100);
    --dark-4: rgb(166, 166, 166);

    /* @link https://utopia.fyi/type/calculator?c=320,18,1.2,1140,24,1.25,6,4,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l */
    --step--4: clamp(0.42rem, calc(0.39rem + 0.18vw), 0.51rem);
    --step--3: clamp(0.64rem, calc(0.45rem + 0.26vw), 0.51rem);
    --step--2: clamp(0.8rem, calc(0.53rem + 0.38vw), 0.61rem);
    --step--1: clamp(0.73rem, calc(0.62rem + 0.53vw), 1rem);
    --step-0: clamp(0.88rem, calc(0.73rem + 0.73vw), 1.25rem);
    --step-1: clamp(1.05rem, calc(0.85rem + 1vw), 1.56rem);
    --step-2: clamp(1.26rem, calc(0.99rem + 1.35vw), 1.95rem);
    --step-3: clamp(1.51rem, calc(1.15rem + 1.81vw), 2.44rem);
    --step-4: clamp(1.81rem, calc(1.33rem + 2.41vw), 3.05rem);
    --step-5: clamp(2.18rem, calc(1.54rem + 3.2vw), 3.82rem);
    --step-6: clamp(2.61rem, calc(1.77rem + 4.21vw), 4.77rem);

    --poster-img-scale: 0.85;
    --poster-img-width: 225px;
    --poster-img-height: 320px;
}

body {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    min-height: 50vh;
}

nav {
    background-color: var(--pine-tree);
}

.clean-url {
    color: var(--paradise-pink);
    text-decoration: none;
}

.clean-url:hover {
    color: var(--paradise-pink);
    text-decoration: underline;
}

.center {
    margin: auto;
}

.text-center {
    text-align: center;
}

.w-100 {
    width: 100%;
}

.w-50 {
    width: 50%;
}

.w-25 {
    width: 25%;
}

/* 
#gallery-container {
    display: flex;
    min-height: 200px;
    flex-flow: row nowrap;
}

.filters {
    min-width: 250px;
    position: sticky;
    background-color: var(--blue-violet-color-wheel);
}



#gallery-posters {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 1rem;
    place-content: center;
} */

/* Poster STuff */
/* 
.poster-card {
    position: relative;
    border: 1px solid var(--light-3);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 450px;
    height: 375px;
    overflow: hidden;
    border-radius: 1rem;
}

.poster-score {
    position: absolute;
    bottom: 0.5rem;
    left: 0.5rem;
    font-size: var(--step--3);
    color: var(--light-1);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0.25rem 0.66rem;
    border-radius: 1rem;
    transition: opacity 300ms ease-in-out;
}

.poster-img:hover ~ .poster-score {
    opacity: 0;
}

.poster-info {
    background-color: transparent;
}

.poster-title-wrapper {
    height: 48px;
    margin: auto;
    width: 100%;
    display: flex;
    place-content: center;
    place-items: center;
}

.poster-title {
    font-size: var(--step-0);
    text-align: center;
    font-weight: 400; 
    height: min-content;
}

.poster-details {
    display: flex;
    justify-content: space-evenly;
    background-color: var(--light-1);
    padding: 0.25rem;
    font-size: var(--step--2);
}

.poster-tags {
    display: flex;
    flex-flow: row wrap;
    gap: 0.25rem;
    justify-content: center;
    background-color: var(--light-0);
    margin: 0.5rem 0.25rem;
}

.tag {
    background-color: var(--light-1);
    color: var(--dark-1);
    padding: 0.1rem 0.33rem;
    font-size: var(--step--3);
    border-radius: 1rem;
    border: 1px solid var(--light-2);
    display: inline;
    margin: 0 0.1rem;
    flex-shrink: 1;
}

.poster-main {
    display: grid;
    grid-template-columns: calc(var(--poster-img-width) * var(--poster-img-scale)) calc(100% - var(--poster-img-width) * var(--poster-img-scale));
    grid-template-rows: calc(var(--poster-img-height) * var(--poster-img-scale)) 0;
    
} 

.poster-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0 0 0 1rem;
}

.poster-main-content-wrapper {
    display: flex;
    flex-flow: column nowrap;
}

.poster-additional-info {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
    height: min-content;
    padding: 0.5rem 0;
}

.poster-additional-info > div {
    font-size: var(--step--2);
    text-align: center;
    border-bottom: 1px solid var(--light-2);
}

.poster-themes {
    grid-column: 1 / 3;
    width: 100%;
    padding: 0.25rem 0.1rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.poster-themes .tag {
    font-size: var(--step--3);
    margin: 0.1rem 0.1rem;
    flex-shrink: 1;
}

.poster-description {
    overflow-y: auto;
    padding: 0.1rem 0.5rem;
    font-size: var(--step--2);
    border-radius: 0 0 1rem 0;
}

*/

#filters {
    position: fixed;
    width: 20%;
    height: 100%;
    background-color: #540d6eff;
    padding: 1rem;
}

.filter-tags {
    display: flex;
    flex-flow: row wrap;
    gap: 0.4rem;
}


#gallery-container {
    position: relative;
    width: 80%;
    float: right;
}

#gallery-posters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem 1rem;
}

.poster-card {
    --poster-scale: 0.8;
    position: relative;
    display: grid;

    width: min(500px, 100%);
    height: clamp(350px, 400px, 500px);
    min-height: 350px;

    grid-template-columns: repeat(5, 20%);
    grid-template-rows: repeat(4, 25%);
    border: 1px solid var(--light-3);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

    border-radius: 1rem;
}

.poster-score {
    position: absolute;
    bottom: 0.5rem;
    left: 0.5rem;
    font-size: var(--step--3);
    color: var(--light-1);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0.25rem 0.66rem;
    border-radius: 1rem;
    transition: opacity 300ms ease-in-out;
}

.poster-img:hover ~ .poster-score {
    opacity: 0;
}

.poster-info {
    background-color: transparent;
    grid-row: 1 / 2;
    grid-column: 1 / 6;
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    place-content: center;
    gap: clamp(0.1rem, 0.2rem, 0.33rem);
}

.poster-title-wrapper {
}

.poster-title {
    font-size: var(--step-0);
}

.poster-details {
    display: flex;
    justify-content: center;
    font-size: var(--step--2);
}

.poster-details > div {
    display: inline;
    margin: 0 1rem;
    flex-shrink: 1;
}

.poster-tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
}

.tag {
    background-color: var(--light-1);
    color: var(--dark-1);
    padding: 0.1rem 0.33rem;
    font-size: var(--step--3);
    border-radius: 1rem;
    border: 1px solid var(--light-2);
    display: inline;
    margin: 0 0.1rem;
    flex-shrink: 1;
}

.poster-main {
    grid-row: 2 / 5;
    grid-column: 1 / 6;
}

.poster-img {
    position: absolute;
    grid-row: 2 / 5;
    grid-column: 1 / 3;
    width: 100%;
    height: 100%;
}

.poster-img img {
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 0 0 0 1rem;
}

.poster-main-content-wrapper {
    position: absolute;
    left: 0;
    grid-column: 3 / 6;
    grid-row: 2 / 5;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.poster-additional-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 0.25rem;
    margin-top: 0.75rem;
    margin-bottom: 0.33rem;
}

.poster-additional-info > div {
    text-align: center;
    font-size: var(--step--1);
}

.poster-studio {
    grid-column: 1 / 2;
}

.poster-source {
    grid-column: 2 / 3;
}

.poster-additional-info .poster-themes {
    grid-column: 1 / 3;
}

.poster-themes .tag {
}

.poster-description-wrapper {
    position: relative;
    margin: 0.25rem 0.1rem;
    height: 100%;
    padding: 0.1rem 0.5rem;
}

.poster-description {
    position: absolute;
    overflow: auto;
    height: 100%;
}

.filter-form-inc-exc-tags {
    display: none;
}

.filter-form-inc-exc-tags:checked ~ label {
    background-color: orange;
    border: 1px solid orange;
    color: black;
}

.filter-form-inc-exc-tags ~ label {
    padding: 0.1rem 1rem;
    border: 1px solid orange;
    border-radius: 1rem;
    color: #999;
    margin: 1rem 0;
}

.unselectable {
    user-select: none;
}
