

.auth-form {
    margin: auto;
    width: min(500px, 100%);
}


.auth-form input{
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 1rem 0rem;
    padding: 1rem;
    font-size: var(--step-0);
    border-radius: 0.5rem;
    border: 1px solid var(--dark-2);
    transition: all 200ms;
}

.auth-form input:focus {
    transform: scale(102%) translateY(0.1rem);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}


.auth-error-msg-box, .auth-msg-box  {
    display: none;
    width: 100%;
    box-sizing: border-box;
    margin: 1rem 0rem;
    padding: 1rem;
    border-radius: 0.5rem;
}

.error {
    background-color: rgb(250, 181, 181);
    border: 2px solid rgb(255, 173, 173);
    color: rgb(211, 16, 16);
}

.successe {
    background-color: rgb(197, 250, 181);
    border: 2px solid rgb(192, 255, 173);
    color: rgb(16, 180, 38);
}


#overtop-delete-account {
    display: none;
}